<div class="wrap">
    <div class="table">
        <ul>
            <li ng-repeat="data in serverData">
                <div class="top">
                    <h1>{{data.ip}}</h1>
                    <div ng-class=" {'circle green': data.state == 'ok','circle red': data.state == 'alerting'}"></div>
                </div>
                <div class="bottom">
                    <p><span>State :</span> {{data.state}}</p>
                    <div ng-repeat="t in data.ruleName">
                        <p><span></span> {{t}}</p>
                    </div>
                    <!--       <p><span><a href="{{data.ruleUrl}}" target="_blank">{{data.ruleName}}</a></span></p> -->
                </div>
            </li>
        </ul>
    </div>
</div>
